<section class="carouselFilms container mt-5">
  <div class="carouselFilms__elements row justify-content-around">
    <div
      class="carouselFilms__item my-3 d-flex align-items-center justify-content-center col-12 col-md-4"
      [routerLink]="['/films/list']"
    >
      <div class="carouselFilms__img">
        <img src="" alt="" />
      </div>
      <span> Películas </span>
    </div>
    <div
      class="carouselFilms__item my-3 d-flex align-items-center justify-content-center col-12 col-md-4"
      [routerLink]="['/people/list']"
    >
      <div class="carouselFilms__img">
        <img src="" alt="" />
      </div>
      <span> Personajes </span>
    </div>
    <div
      class="carouselFilms__item my-3 d-flex align-items-center justify-content-center col-12 col-md-4"
      [routerLink]="['/starships/list']"
    >
      <div class="carouselFilms__img">
        <img src="" alt="" />
      </div>
      <span> Naves </span>
    </div>
  </div>
</section>
