@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
// regular style toast
@import "~ngx-toastr/toastr";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

html,
body {
  height: 100%;
}
body {
  min-height: 100vh;
  background: #060c21;
  overflow: auto;
}
